.table{
    margin: 20px;
    overflow: scroll;
    height: 400px;
    
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.3rem;
}

.table tr:nth-of-type(odd){
    background-color: rgba(224, 60, 31, 0.438);
}